.inputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  .ant-form.ant-form-horizontal {
    width: 100%;

    .ant-row.ant-form-item {
      width: 100%;
      margin: 0;
    }
  }
}

@media (max-width: 900px) {
  .inputSearch {
    width: 50%;
  }
}

@media (max-width: 630px) {
  .inputSearch {
    width: 85%;
  }
}
