.containerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 2rem;
    

    .containerGaleryProfile {
        display: flex;
        // width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
        min-height: 40vh;
    }
}

.ant-card-body {

    .ant-btn, .ant-btn-circle, .ant-btn-default, .ant-btn-icon-only {
        border-color: rgb(129, 46, 46);
        &:hover {
            border-color: rgb(129, 46, 46);
            background-color: opacify($color: #ce8b8b44, $amount: .05) !important;
        }
    }
}